@import vars
@import fonts
@import libs
@import "../../node_modules/mmenu-js/dist/mmenu.css"

body
	font-size: 16px
	min-width: 320px
	position: relative
	font-family: 'Roboto', serif
	font-weight: 200
	color: #ffffff
	line-height: 1
	font-size: 18px
	overflow-x: hidden
  box-sizing: border-box
	color: $text
    
.container
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
  @media screen and (max-width: 768px)
    width: 100%
  @media screen and (max-width: 1200px)
    width: 970px;
  @media screen and (max-width: 992px)
    width: 750px;

//===================================================================================

.accent-btn
  padding: 23px 51px
  font-size: 16px
  font-weight: 500
  color: #ffffff
  background-color: $accent
  border: none
  border-radius: 30px

//===================================================================================

.header
  background: #595345 url("../img/@2x/header/header-bg.jpg") center center no-repeat
  background-size: cover
  position: relative
  &__inner
    display: flex
    flex-direction: column
    min-height: 100vh
  &__main
    padding: 25px 0
    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: center
  &__title
    margin-bottom: 38px
    font-weight: 700
    font-size: 48px
    color: #ffffff
    text-align: center
  &__subtitle
    margin-top: 7px
    font-size: 36px
  &__text
    margin-bottom: 46px
    font-size: 22px
    font-weight: 100
    color: #ffffff
    text-align: center
  &__sup
    vertical-align: top
    font-size: 0.6em
  &__form-wrap
    margin-bottom: 22px
    display: flex
    justify-content: center
    align-items: center
  &__form
    margin: 0 auto
    width: auto
    position: relative
  &__decorate
    z-index: 0
    position: absolute
    top: 25px
    bottom: 30px
    left: -33px
    right: -33px
    border-left: 1px solid rgba(255, 255, 255, 0.3)
    border-right: 1px solid rgba(255, 255, 255, 0.3)
    &:before, &:after
      content: ''
      display: block
      position: absolute
      top: 0
      width: 18px
      height: 1px
      background: rgba(256, 256, 256, 0.3)
    &:before
      left: 0
    &:after
      right: 0px
  &__bottom-decorate
    &:before, &:after
      content: ''
      display: block
      position: absolute
      bottom: 0
      width: 18px
      height: 1px
      background: rgba(256, 256, 256, 0.3)
      width: 36.5%
    &:before
      left: 0
    &:after
      right: 0
  &__input-wrap
    z-index: 2
    position: relative
    margin-bottom: 20px
    display: flex
    justify-content: center
    align-items: center
  &__input
    padding: 17px 0 19px 25px
    width: 290px
    border-radius: 26px
    border: none
    &,&::placeholder
      font-size: 13px
      font-weight: 200
      color: #606060
    &:not(:last-child)
      margin-right: 9px
  &__submit-wrap
    position: relative
    z-index: 2
    text-align: center
  &__descr
    font-size: 14px
    font-weight: 200
    color: #ffffff
    text-align: center
  &__down-link
    margin-bottom: 5vh
    display: flex
    justify-content: center
.down-link
  display: block
  width: 31px
  height: 55px
  position: relative
  &__icon
    display: block
    height: 100%
    width: 100%
    box-shadow: inset 0 0 0 1px #fff
    border-radius: 25px
  &__icon:before
    content: ''
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: 30%
    width: 7px
    height: 7px
    background: #fff
    border-radius: 4px
    animation-duration: 1s
    animation-iteration-count: infinite
    animation-name: scroll
@keyframes scroll
  0%
    opacity: 1
    top: 6px
  100%
    opacity: 0
    top: 80%

.topnav
  padding: 34px 0
  display: flex
  justify-content: space-between
  align-items: center
  &__inner
    display: flex
    align-items: center
  &__phone
    margin-right: 60px

.phone
  display: flex
  align-items: center
  color: #ffffff
  &__img
    margin-right: 13px
  &__descr
    margin-bottom: 5px
    font-size: 12px
    font-weight: 200
  &__text
    font-size: 21px
    font-weight: 500

.menu-btn
  display: block
  text-align: center
  &__icon
    margin-bottom: 5px
    display: block
    width: 46px
    height: 21px
    position: relative
    span
      top: 50%
      position: absolute
      transform: translateY(-50%)
      &:before
        transform: translateY(-8px)
      &:after
        transform: translateY(8px)
      &:before, &:after, &
        width: 100%
        height: 3px
        left: 0
        border-radius: 1px
        background: #ffffff
      &:before, &:after
        content: ''
        display: block
        position: absolute

  &__text
    font-size: 12px
    text-transform: uppercase
    color: #ffffff

.logo
  display: flex
  align-items: center
  &__img
    margin-right: 10px
  &__text
    font-size: 28px
    font-weight: 800
    color: #ffffff