@import vars
@import fonts
@import libs

body
  min-width: 320px
  position: relative
  font-family: 'Roboto', serif
  font-weight: 200
  color: #ffffff
  line-height: 1
  font-size: 18px
  box-sizing: border-box
  color: $text
  @media screen and (max-width: $md)
    font-size: 16px
  @media screen and (max-width: $sm)
    font-size: 14px

.container
  margin-right: auto
  margin-left: auto
  padding-right: 15px
  padding-left: 15px
  width: 100%
  max-width: 1140px
  box-sizing: inherit
  @media screen and (max-width: $lg)
    max-width: 930px
  @media screen and (max-width: $md)
    max-width: 690px
  @media screen and (max-width: $sm)
    max-width: 510px
  @media screen and (max-width: $xs)
    max-width: 100%





//======================================================================================================================================================================





.accent-btn
  font-size: 14px
  font-weight: 400
  color: #ffffff
  background-color: $accent
  border: none
  border-radius: 30px
  cursor: pointer
  &_bolder
    font-weight: 500
    font-size: 16px

.title
  padding-bottom: 24px
  font-size: 36px
  color: #363636
  text-align: center
  position: relative
  @media screen and (max-width: $md)
    font-size: 28px
    padding-bottom: 18px
  @media screen and (max-width: $sm)
    font-size: 24px
    padding-bottom: 14px
  &:after
    content: ''
    position: absolute
    display: block
    height: 1px
    width: 377px
    background-color: $accent
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    @media screen and (max-width: $md)
      width: 293px
    @media screen and (max-width: $sm)
      width: 252px
  &_white
    color: #ffffff
    &:after
      background-color: #ffffff
.sup
  vertical-align: top
  font-size: 0.6em




//======================================================================================================================================================================





.header
  background: #595345 url("../img/@2x/header/header-bg.jpg") center center no-repeat
  background-size: cover
  position: relative
  &__inner
    display: flex
    flex-direction: column
    min-height: 100vh
  &__main
    padding: 25px 0
    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: center
    @media screen and (max-width: $md)
      padding: 15px 0
  &__title
    margin-left: auto
    margin-right: auto
    margin-bottom: 38px
    max-width: 800px
    font-weight: 700
    font-size: 48px
    color: #ffffff
    text-align: center
    @media screen and (max-width: $md)
      margin-bottom: 20px
      max-width: 600px
      font-size: 36px
    @media screen and (max-width: $sm)
      margin-bottom: 15px
      font-size: 30px
    @media screen and (max-width: $xs)
      max-width: 250px
      // font-size: 24px
  &__subtitle
    font-size: 36px
    @media screen and (max-width: $md)
      font-size: 28px
    @media screen and (max-width: $sm)
      font-size: 24px
    @media screen and (max-width: $xs)
      font-size: 20px
  &__text
    margin-bottom: 46px
    font-size: 22px
    font-weight: 100
    color: #ffffff
    text-align: center
    @media screen and (max-width: $md)
      margin-bottom: 25px
      font-size: 18px
    @media screen and (max-width: $sm)
      margin-bottom: 20px
      font-size: 16px
    @media screen and (max-width: $xs)
      font-size: 14px
  &__form-wrap
    margin-bottom: 22px
    display: flex
    justify-content: center
    align-items: center
    @media screen and (max-width: $md)
      margin-bottom: 15px
  &__form
    position: relative
  &__decorate
    z-index: 0
    position: absolute
    top: 25px
    bottom: 30px
    left: -33px
    right: -33px
    border-left: 1px solid rgba(255, 255, 255, 0.3)
    border-right: 1px solid rgba(255, 255, 255, 0.3)
    @media screen and (max-width: $lg)
      bottom: 27px
    @media screen and (max-width: $xs)
      top: 19px
      bottom: 22px
    &:before, &:after
      content: ''
      display: block
      position: absolute
      top: 0
      width: 18px
      height: 1px
      background: rgba(256, 256, 256, 0.3)
    &:before
      left: 0
    &:after
      right: 0px
  &__bottom-decorate
    &:before, &:after
      content: ''
      display: block
      position: absolute
      bottom: 0
      height: 1px
      background: rgba(256, 256, 256, 0.3)
      width: 36.5%
      @media screen and (max-width: $lg)
        width: 33.5%
      @media screen and (max-width: $sm)
        width: 18px
    &:before
      left: 0
    &:after
      right: 0
  &__input-wrap
    z-index: 2
    position: relative
    margin-bottom: 20px
    display: flex
    justify-content: center
    align-items: center
    @media screen and (max-width: $sm)
      flex-direction: column
    @media screen and (max-width: $sm)
      margin-bottom: 9px
  &__input
    padding: 17px 0 19px 25px
    width: 290px
    border-radius: 26px
    border: none
    @media screen and (max-width: $lg)
      width: 210px
    @media screen and (max-width: $sm)
      padding: 17px 25px
    @media screen and (max-width: $xs)
      padding: 12px 20px
    @media screen and (max-width: $xs)
      display: block
      width: 100%
    &,&::placeholder
      font-size: 13px
      font-weight: 200
      color: #606060
      @media screen and (max-width: $sm)
        text-align: center
    &::placeholder
      transition: 0.5s ease
      opacity: 1
    &:focus::placeholder
      opacity: 0
    &:not(:last-child)
      margin-right: 9px
      @media screen and (max-width: $sm)
        margin-right: 0
        margin-bottom: 9px
  &__submit-wrap
    position: relative
    z-index: 2
    text-align: center
  &__submit
    padding: 23px 51px
    @media screen and (max-width: $lg)
      font-size: 14px
      padding: 20px 45px
    @media screen and (max-width: $xs)
      padding: 15px 30px
    @media screen and (max-width: $xs)
      padding: 15px 0
      width: 100%
      display: block
  &__descr
    font-size: 14px
    font-weight: 200
    color: #ffffff
    text-align: center
    @media screen and (max-width: $sm)
      font-size: 12px
  &__down-link
    margin-bottom: 5vh
    display: flex
    justify-content: center

.down-link
  width: 31px
  height: 55px
  display: block
  position: relative
  @media screen and (max-width: $lg)
    width: 25px
    height: 44px
  &__icon
    display: block
    height: 100%
    width: 100%
    box-shadow: inset 0 0 0 1px #fff
    border-radius: 25px
  &__icon:before
    content: ''
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: 30%
    width: 7px
    height: 7px
    background: #fff
    border-radius: 4px
    animation-duration: 1s
    animation-iteration-count: infinite
    animation-name: scroll
    @media screen and (max-width: $lg)
      width: 6px
      height: 6px
@keyframes scroll
  0%
    opacity: 1
    top: 6px
  100%
    opacity: 0
    top: 80%

.topnav
  padding: 34px 0
  display: flex
  justify-content: space-between
  align-items: center
  @media screen and (max-width: $lg)
    padding: 20px 0
  @media screen and (max-width: $md)
    padding: 10px 0
  @media screen and (max-width: $sm)
    padding: 8px 0
  &__inner
    display: flex
    align-items: center
  &__phone
    margin-right: 60px
    @media screen and (max-width: $lg)
      margin-right: 35px
    @media screen and (max-width: $md)
      margin-right: 20px
    @media screen and (max-width: $xs)
      margin-right: 10px
.topnav-phone
  display: flex
  align-items: center
  color: #ffffff
  &__img
    margin-right: 13px
    @media screen and (max-width: $md)
      margin-right: 5px
    @media screen and (max-width: $sm)
      margin-right: 3px
      width: 20px
      display: none
  &__descr
    margin-bottom: 5px
    font-size: 12px
    font-weight: 200
    @media screen and (max-width: $md)
      margin-bottom: 3px
    @media screen and (max-width: $sm)
      font-size: 10px
  &__text
    font-size: 21px
    font-weight: 500
    @media screen and (max-width: $md)
      font-size: 18px
    @media screen and (max-width: $sm)
      font-size: 15px
.menu-btn
  display: block
  text-align: center
  &__icon
    margin-bottom: 5px
    display: block
    width: 46px
    height: 21px
    position: relative
    @media screen and (max-width: $xs)
      width: 30px
      height: 14px
    span
      top: 50%
      position: absolute
      transform: translateY(-50%)
      &:before
        transform: translateY(-8px)
        @media screen and (max-width: $xs)
          transform: translateY(-6px)
      &:after
        transform: translateY(8px)
        @media screen and (max-width: $xs)
          transform: translateY(6px)
      &:before, &:after, &
        width: 100%
        height: 3px
        left: 0
        border-radius: 1px
        background: #ffffff
        @media screen and (max-width: $xs)
          height: 2px    
      &:before, &:after
        content: ''
        display: block
        position: absolute
  &__text
    font-size: 12px
    text-transform: uppercase
    color: #ffffff
    @media screen and (max-width: $xs)
      font-size: 10px

.logo
  display: flex
  align-items: center
  &__img
    width: 50px
    margin-right: 10px
    @media screen and (max-width: $md)
      margin-right: 7px
    @media screen and (max-width: $sm)
      margin-right: 4px
      width: 40px
  &__text
    font-size: 28px
    font-weight: 800
    color: #ffffff
    @media screen and (max-width: $md)
      font-size: 24px
    @media screen and (max-width: $sm)
      font-size: 20px

.menu
  overflow: hidden
  background: #282828
  color: #ffffff
  &__list
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
  &__item
    height: 10%
  &__link
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    font-size: 24px
    border-bottom: 1px solid transparent
    border-top: 1px solid transparent
    transition: 0.5s ease
    @media screen and (max-width: $sm)
      font-size: 20px
    @media screen and (max-width: $xs)
      font-size: 18px
    &:hover, &:focus, &_active
      color: $accent
      border-top: 1px solid $accent
      border-bottom: 1px solid $accent





//======================================================================================================================================================================





.services
  background-color: #ffffff
  padding: 61px 0 72px
  @media screen and (max-width: $lg)
    padding: 40px 0 55px
  &__title
    margin-bottom: 34px   
  &__item
    &:not(:last-child)
      margin-bottom: 20px
      @media screen and (max-width: $sm)
        margin-bottom: 10px
      @media screen and (max-width: $xs)
        margin-bottom: 20px
  &-item
    display: flex
    align-items: center
    justify-content: space-between
    @media screen and (max-width: $xs)
      flex-direction: column
    &_reverse
      flex-direction: row-reverse
    &__textblock, &__img
      max-width: calc((100% - 30px) / 2)
      @media screen and (max-width: $sm)
        max-width: calc((100% - 15px) / 2)
      @media screen and (max-width: $xs)
        max-width: 100%
    &__textblock
      @media screen and (max-width: $xs)
        display: flex
        flex-direction: column
        align-items: center
    &__img
      display: block
      @media screen and (max-width: $xs)
        margin-bottom: 10px
    &__title
      margin-bottom: 13px
      font-size: 28px
      font-weight: 200
      color: $accent
      @media screen and (max-width: $lg)
        margin-bottom: 10px
        font-size: 24px
      @media screen and (max-width: $md)
        font-size: 22px
      @media screen and (max-width: $sm)
        font-size: 20px
      @media screen and (max-width: $xs)
        text-align: center
    &__text
      font-weight: 100
      color: #464646
      line-height: 1.33
      margin-bottom: 20px
      @media screen and (max-width: $lg)
        margin-bottom: 14px
      @media screen and (max-width: $md)
        margin-bottom: 10px
      @media screen and (max-width: $sm)
        margin-bottom: 6px
      @media screen and (max-width: $xs)
        text-align: center
    &__btn
      padding: 20px 36px
      @media screen and (max-width: $lg)
        padding: 16px 28px
      @media screen and (max-width: $md)
        padding: 14px 26px
      @media screen and (max-width: $sm)
        padding: 10px 20px
      &_in
        @media screen and (max-width: $xs)
          display: none
      &_out
        display: none
        @media screen and (max-width: $xs)
          display: block





//======================================================================================================================================================================






.calculate
  padding: 65px 0
  background: #4b4c49 url("../img/@2x/calculate/calculate-bg.jpg") center center no-repeat
  background-size: cover
  color: #ffffff
  &__title
    margin-bottom: 32px
    @media screen and (max-width: $lg)
      margin-bottom: 18px
    @media screen and (max-width: $md)
      margin-bottom: 16px
  &__text
    margin-bottom: 39px
    text-align: center
    @media screen and (max-width: $lg)
      margin-bottom: 30px
    @media screen and (max-width: $md)
      margin-bottom: 22px
  &__calculator
    margin-bottom: 20px
  &__inner
    display: flex
    justify-content: space-between
    @media screen and (max-width: $md)
      flex-direction: column
      align-items: center
  &__info
    flex-grow: 1
    text-align: center
    @media screen and (max-width: $lg)
      max-width: 250px
    @media screen and (max-width: $md)
      max-width: 100%
    &-inner
      @media screen and (max-width: $md)
        display: flex
        align-items: flex-end
        justify-content: center
      @media screen and (max-width: $xs)
        flex-direction: column
        align-items: center
    &-item
      margin-bottom: 24px
      @media screen and (max-width: $md)
        margin-bottom: 0
        max-width: 175px
        &:not(:last-child)
          margin-right: 20px
      @media screen and (max-width: $sm)
        &:not(:last-child)
          margin-right: 10px
      @media screen and (max-width: $xs)
        text-align: center
        margin-bottom: 10px
        &:not(:last-child)
          margin-right: 0
    &-title
      margin-bottom: 7px
      font-size: 16px
      font-weight: 400
      @media screen and (max-width: $md)
        font-size: 14px
      @media screen and (max-width: $xs)
        margin-bottom: 3px
    &-num
      font-size: 32px
      font-weight: 400
      @media screen and (max-width: $md)
        font-size: 28px
      @media screen and (max-width: $sm)
        font-size: 24px
      @media screen and (max-width: $xs)
        font-size: 20px
    &-btn
      margin: 10px 0 20px
      padding: 16px 32px
      @media screen and (max-width: $lg)
        padding: 12px 32px
      @media screen and (max-width: $md)
        margin: 20px 0
        padding: 16px 32px
      @media screen and (max-width: $sm)
        padding: 13px 26px
        margin: 20px 0 10px
      @media screen and (max-width: $xs)
        padding: 16px 19px
        margin: 5px 0 10px
    &-descr
      margin-bottom: 5px
      font-size: 14px
    &-phone
      font-weight: 500

.calculator
  width: 654px
  @media screen and (max-width: $lg)
    width: 600px
  @media screen and (max-width: $md)
    width: 100%
  &__block:first-child
    margin-bottom: 22px
  &-block
    padding: 22px
    border: 1px solid #ffffff
    border-radius: 3px
    &__title
      font-weight: 400
      &_top
        margin-bottom: 43px
        @media screen and (max-width: $md)
          margin-bottom: 35px
      &_bot
        margin-bottom: 19px
        @media screen and (max-width: $md)
          margin-bottom: 14px
  &-range
    height: 23px
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
  &__range
    z-index: 1
    height: 38px
    -webkit-appearance: none
    margin: 10px 0
    background: none
    width: 100%
    &:focus 
      outline: none
    &::-webkit-slider-runnable-track 
      width: 100%
      height: 11px
      cursor: pointer
      animate: 0.2s
      background: rgba(255, 255, 255, 0.5)
      border-radius: 10px
    &::-webkit-slider-thumb 
      border: 9px solid #19B5FE
      height: 23px
      width: 23px
      border-radius: 50%
      transform: translate(0, 4px)
      cursor: pointer
      -webkit-appearance: none
      margin-top: -10.5px
    &:focus::-webkit-slider-runnable-track 
      background: rgba(255, 255, 255, 0.5)
      border-radius: 10px
    &::-moz-range-track 
      width: 100%
      height: 11px
      cursor: pointer
      background: rgba(255, 255, 255, 0.5)
      border-radius: 10px
    &::-moz-range-thumb, &::-ms-thumb
      border: 9px solid #19B5FE
      height: 23px
      width: 23px
      border-radius: 50%
      transform: translate(0, 4px)
      cursor: pointer
    &::-ms-track 
      width: 100%
      height: 11px
      cursor: pointer
      animate: 0.2s
    &::-ms-fill-lower,
    &::-ms-fill-upper,
    &:focus::-ms-fill-lower,
    &:focus::-ms-fill-upper
      background: rgba(255, 255, 255, 0.5)
      border-radius: 10px
    &-label
      width: 18px
      height: 18px
      display: block
      position: absolute
      top: 50%
      transform: translate(-50%, -50%)  
      background: #ffffff
      border-radius: 50%
      z-index: 1
      cursor: pointer
      &1
        left: 0
        transform: translate(0, -50%)
      &2
        left: 33%
      &3
        left: 66%
      &4
        left: 100%
        transform: translate(-100%, -50%)
    &-slider
      position: absolute
      left: 0
      top: 50%
      transform: translate(-50%, -50%)
      width: 23px
      height: 23px
      border: 9px solid $accent
      transition: transform 1s
      border-radius: 50%
      transition: 0.5s ease-in
      z-index: 2
      cursor: pointer
    &-descr
      font-size: 16px
      position: absolute
      top: -20px
      @media screen and (max-width: $md)
        font-size: 14px
      &1
        left: 0
      &2
        left: 33%
        transform: translateX(-50%)
      &3
        left: 66%
        transform: translateX(-50%)
      &4
        right: 0
  &__btns
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
  &__btn
    max-width: 32%
    width: 193px
    position: relative
    @media screen and (max-width: $xs)
      position: static
    &-label
      padding: 15px 0
      display: block
      border: 1px solid #ffffff
      border-radius: 3px
      font-size: 16px
      font-weight: 400
      text-align: center
      transition: 0.4s ease-in
      cursor: pointer
    &-input
      position: absolute
      visibility: hidden
    &-input:checked + &-label
      border-color: $accent 
      background-color: $accent
      cursor: auto
    &-label:hover + &-descr
      opacity: 1
    &-descr
      padding: 25px
      width: 443px
      position: absolute
      top: 84px
      left: 50%
      border-radius: 4px
      transform: translateX(-50%)
      opacity: 0
      font-size: 14px
      font-weight: 400
      line-height: 1.7
      color: #464646
      text-align: center
      background: #ffffff
      transition: 0.4s ease-in
      @media screen and (max-width: $lgx)
        padding: 10px
        width: 300px
        top: 75px
      @media screen and (max-width: $sm)
        width: 240px
      @media screen and (max-width: $xs)
        width: 100%
        &1:before
          left: calc(32% / 2)
        &2:before
          left: 50%
        &3:before
          left: calc(100% - (32% / 2) )
      &:before
        content: ''
        width: 0px
        height: 0px
        position: absolute
        top: -23px
        left: 50%
        transform: translateX(-50%)
        border-style: solid
        border-width: 0 24px 24px 24px
        border-color: transparent transparent #ffffff transparent  
        display: inline-block
        vertical-align: middle
        margin-right: 5px
        @media screen and (max-width: $lgx)
          border-width: 0 15px 15px 15px
          top: -14px






//======================================================================================================================================================================





.portfolio
  background-color: #ffffff
  padding: 61px 0 30px
  @media screen and (max-width: $lg)
    padding: 40px 0 25px
  @media screen and (max-width: $sm)
    padding: 35px 0 20px
  &__title
    margin-bottom: 32px
    @media screen and (max-width: $sm)
      margin-bottom: 25px
  &__btn-wrap
    margin-bottom: 10px
    display: flex
    justify-content: center
    @media screen and (max-width: $sm)
      margin-bottom: 7px
    @media screen and (max-width: $xs)
      margin-bottom: 15px
  &__btn 
    width: 24%
    text-align: center
    
    padding: 16px 4px 14px
    cursor: pointer
    color: $accent
    background: transparent
    border-color: $accent
    border-top: 1px solid
    border-bottom: 1px solid
    font-size: 14px
    text-transform: uppercase
    transition: 0.2s ease
    @media screen and (max-width: $md)
      padding: 8px 4px 7px
    @media screen and (max-width: $sm)
      font-size: 11px
    @media screen and (max-width: $xs)
      padding: 8px 0 7px
      width: 33%
      min-height: 40px 
    &:first-child
      border-left: 1px solid
      border-top-left-radius: 22px
      border-bottom-left-radius: 22px
    &:last-child
      border-right: 1px solid
      border-top-right-radius: 22px
      border-bottom-right-radius: 22px
    &:not(:last-child)
      position: relative 
      &:after
        content: ''
        display: block
        background-color: $accent
        position: absolute
        height: calc(100% - 6px)
        width: 1px
        right: -1px
        top: 50%
        transform: translateY(-50%)
    &_active
      background-color: $accent
      border-top: 1px solid $accent
      border-bottom: 1px solid $accent
      color: #ffffff
      &:not(:last-child)
        &:after 
          display: none
  &__img
    margin: 15px
    width: calc(100% / 3 - 30px)
    @media screen and (max-width: $lg)
      margin: 12px
      width: calc(100% / 3 - 24px)
    @media screen and (max-width: $md)
      width: calc(100% / 2 - 24px)
    @media screen and (max-width: $xs)
      width: 80%
      min-width: 300px
      margin: 0 0 15px






//======================================================================================================================================================================





.why
  padding: 50px 0 65px
  background-color: #f5f9fa
  @media screen and (max-width: $sm)
    padding: 35px 0
  &__title
    margin-bottom: 35px
    @media screen and (max-width: $sm)
      margin-bottom: 23px
  &__list
    display: flex
    justify-content: center
    flex-wrap: wrap
  &__item
    padding-top: 90px
    max-width: 260px
    background-size: auto
    background-position: center 0
    position: relative
    @media screen and (min-width: $lg)
      &:not(:nth-last-child(-2n+3))
        margin-right: calc((100% - 260px * 4) / 3)
      &:nth-child(-n+4)
        margin-bottom: 30px
    @media screen and (max-width: $lg) and (min-width: $md)
      &:nth-child(-n+3)
        margin-bottom: 20px
      &:not(:nth-child(3n))
        margin-right: 20px
    @media screen and (max-width: $md) and (min-width: $sm)
      &:nth-child(odd)
        margin-right: 15px
      &:not(:nth-last-child(-n+2))
        margin-bottom: 15px
    @media screen and (max-width: $sm)
      &:not(:last-child)
        margin-bottom: 35px
    &:before
      content: ''
      display: block
      width: 124px
      height: 1px
      position: absolute
      top: 73px
      left: 50%
      transform: translateX(-50%)
      background-color: $accent
  &__text
    font-size: 14px
    text-align: center






//======================================================================================================================================================================





.process
  padding: 65px 0
  background-color: #ffffff
  @media screen and (max-width: $md)
    padding: 50px 0
  @media screen and (max-width: $xs)
    padding: 35px 0
  &__title
    margin-bottom: 31px
    @media screen and (max-width: $xs)
      margin-bottom: 25px
  &__item
    display: flex
    align-items: center
    &_reverse
      flex-direction: row-reverse
  &__img
    width: 50%
  &__text
    width: 50%
    text-align: center
    font-size: 30px
    @media screen and (max-width: $lg)
      font-size: 26px
    @media screen and (max-width: $md)
      font-size: 22px
    @media screen and (max-width: $sm)
      font-size: 18px






//======================================================================================================================================================================





.trust
  padding: 50px 0 30px
  background-color: #f5f9fa
  @media screen and (max-width: $xs)
    padding: 35px 0
  &__title
    margin-bottom: 30px
    @media screen and (max-width: $xs)
      margin-bottom: 25px
  &__list
    display: flex
    align-items: center
    justify-content: space-between
    @media screen and (max-width: $lg)
      flex-wrap: wrap
      justify-content: center
    @media screen and (max-width: $xs)
      flex-direction: column
      align-items: center
      justify-content: flex-start
  &__img
    @media screen and (max-width: $lg)
      margin: 15px      
    @media screen and (max-width: $xs)
      margin: 0
      &:not(:last-child)
        margin-bottom: 20px        